{% extends 'base.html' %}

{% block head %}
<title>Infinity Influencer Marketing</title>
<style></style>
{% endblock %}

{% block body %}

<form action="{{ url_for("post")}}" method="POST">
    <h1 style="text-align: center">Enter Post Text</h1>
    <textarea name="content_txt"
              placeholder="Please enter post content..."
              rows="15"
              cols="60" >{{ request.form['content_txt'] }}</textarea>
    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}